.createGame {
  .body {
    .createTitle {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 20vh;
      font-size: 50px;
    }
    .createReason {
      display: flex;
      justify-content: center;
      width: 100vw;
      height: 50px;
    }
    .createOptions {
      display: flex;
      justify-content: center;
      width: 100vw;
    }
    .createSave {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 150px;
      width: 100vw;
    }
  }
}